

   .dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
  }
  
  .category {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  
  .category h2 {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
  }
  
  .questions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Reduced size to allow more cards per row */
    gap: 15px; /* Reduced gap between question cards */
    background-color: #f0f0f0;
    padding: 20px;
    height: 500px;
    border-radius: 0 0 8px 8px;
  }
  
  .question-card {
    position: relative;
    padding: 10px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .question-card.answered-yes {
    border-color: green;
    animation: border-glow 1.5s infinite;
  }
  
  @keyframes border-glow {
    0% {
      box-shadow: 0 0 10px green;
    }
    50% {
      box-shadow: 0 0 20px green;
    }
    100% {
      box-shadow: 0 0 10px green;
    }
  }
  
  .question {
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
