.survey-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sv-container-modern {
  width: 100%;
}

.sd-body.sd-body--static{
  padding-top: 0 !important
}